*{
    margin: 0;
    padding: 0;
    font-family: 'Lorem Ipsum', sans-serif;
    font-size:13.5px;
}
body{
    width: 1400px;
    margin: 0 auto;
    line-height: 16px;
    
}
.header{
    background-image: url("../img/background-header-banggia.png");
    background-size: 100% 100%;
}
.header-bottom{
    display:flex;
    margin-left: 201px;
    padding: 20px;
}
nav{
    display: flex;
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    text-align: center;
    height: 40%;
    margin-top: 40px;
    margin-left: 47px;
    margin-bottom: 27px;
    padding: 10px 10px 10px 10px;
}
nav li{
    padding: 10px 20px 10px 20px;
    text-align: center;
    color:white;
    margin: 0 30px;
}
nav li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.main{
    color: #0a5494;
}
header{
    background-image: url(../img/banggia-link-background.png);
    background-size: 100% 100%;
    display: flex;
    color:white;
    padding: 10px 10px 10px 130px;
}
#link-background-value{
    margin: 10px 10px 10px 10px;
}
.introduction2{
    background-image: url(../img/introduction-cn-background.png);
    width: 78%;
}
.tieude-txt{
    padding: 50px 50px 50px 50px;
}
.tieude{
    padding: 10px 0px 20px 0px;
    text-align: center;
    font-size: 17px;
}
.tieude2{
    padding: 10px 0px 20px 0px;
    text-align: center;
    font-size: 17px;
    background-color: white;
}
.btn{
    border-radius: 13px;
    background-image: url(../img/btn.png);
    color: white;
    padding: 2px 20px 2px 20px;
    margin-left: 36rem;
}
.main{
    display:flex;
}
.lq{
    width: 70rem;
    padding: 0px 10px 10px 10px;
    background-color: white;
}
.tieude-lq{
    padding: 1px 0;
    margin-bottom: 25px;
    font-size: 17px;
    border-bottom: 1px solid #0a5494;
}
.b-bvlq{
    background-image: url(../img/introduction-cn-background.png);
    background-size: 100% 100%;
    padding: 30px;
}
.dvthongquan{
    display: flex;
}
.dvthongquan img{
    width: 36%;
    padding: 24px 10px;
}
.dvthongquan p{
    padding: 97px 44px;
}
.toandien{
    display: flex;
    background-color: white;
}
.toandien-value{
    background-image: url(../img/introduction-cn-background.png);
    background-size: 100% 100%;
    margin: 0 9px;
}
.toandien-value img{
    width: 203px;
    height: 122px;
}
.toandien-td{
    text-align: center;
    padding-bottom: 15px;
    font-size: 12px;
}
.toandien-txt{
    padding: 20px;
}
.tieude-4{
    display: flex;
    background-color: white;
}
.tieude-4 h4{
    margin: 0px 205px;
}
.tieude-4txt{
    display: flex;
    background-color: white;
}
.tieude-4txt p{
    background-image: url(../img/introduction-cn-background.png);
    background-size: 100% 100%;
    margin: 15px 25px;
    padding: 36px;
    height: 6rem;
}
/* FOOTER */
footer{
    background-image: url(../img/background-footer-CN.png);
    color: white;
}
.footer-menu{
    display: flex;
    margin-left: 100px;
    padding-top: 30px;
}
.footer-menu1{
    display: flex;
    margin: 10px 50px 10px 33px;
}
.footer-menu1 p{
    padding: 10px 100px 10px 105px;
    font-size: 13px;
}
.footer-txt{
    color: white;
    margin: -44px 10px 30px 40px;
    padding: 0 38px 30px 28px;
}
.footer-txt1{
    padding: 0px 10px 30px 60px;
}
.footer-txtcs{
    padding:0px 0px 30px 30px;
    margin-top: -44px;
}
.footer-txtcs p{
    width: 300px;
    text-align: inherit;
    
}
.footer-txt a{
    color: white;
    text-decoration: none;
    display: block;
    width: 191px;
    padding: 9px;

}
.footer-txt3{
    color: white;
    margin: -44px 128px 30px 0px;
    padding: 0 54px 30px 0px;
}